<h1>Goodbay!!!</h1>
<p>
  <%= 1+2 %>
</p>
<p>
  <%= "cow"+"boy" %>
</p>

<div>
  <ul>
    <% for file in @files %>
        <li>File name is: <%= file %></li>
    <% end %>
  </ul>
</div>
<p>
  <%= 1.hour.from_now %>
</p>


<p>
  Say <%= link_to "hello", say_hello_path %>
</p>